<div class="page-bottom-sticky">
  <div id="page-roll-info"></div>
  <div class="bottom-bar">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/tools/territory.html' | relative_url }}">Income &<br>Boons</a>
    <a href="{{ '/tools/lastingInjuries.html' | relative_url }}">Lasting<br>Injuries</a>
    <a href="{{ '/tools/lootCasket.html' | relative_url }}">Loot<br>Caskets</a>
    <a href="{{ '/tools/scenario_MeatForTheGrinder.html' | relative_url }}">SotW</a>
    <a href="{{ '/tools/xpTables.html' | relative_url }}">XP</a>
  </div>
</div>
