<div class="page-bottom-sticky">
  <div id="page-roll-info"></div>
  <div class="bottom-bar">
    <a id="bottom-bar-home" href="{{ '/' | relative_url }}"></a>
    <script>document.getElementById('bottom-bar-home').innerHTML = Icons.houseLine;</script>
    <a id="bottom-bar-income" href="{{ '/tools/territory.html' | relative_url }}"></a>
    <script>document.getElementById('bottom-bar-income').innerHTML = Icons.moneyWavy;</script>
    <a id="bottom-bar-injuries" href="{{ '/tools/lastingInjuries.html' | relative_url }}"></a>
    <script>document.getElementById('bottom-bar-injuries').innerHTML = Icons.firstAid;</script>
    <a id="bottom-bar-loot" href="{{ '/tools/lootCasket.html' | relative_url }}"></a>
    <script>document.getElementById('bottom-bar-loot').innerHTML = Icons.treasureChest;</script>
    <a id="bottom-bar-sotw" href="{{ '/tools/scenario_MeatForTheGrinder.html' | relative_url }}"></a>
    <script>document.getElementById('bottom-bar-sotw').innerHTML = Icons.clipboardList;</script>
    <a id="bottom-bar-xp" href="{{ '/tools/xpTables.html' | relative_url }}"></a>
    <script>document.getElementById('bottom-bar-xp').innerHTML = Icons.medal;</script>
  </div>
</div>
