body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
  display: flex;
}

/* BOTTOM-BAR */
.bottom-bar {
  width: 100%;
  padding: 1rem 1.5rem;
  background: #222;
  color: white;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}


.bottom-bar h2 {
  margin-top: 0;
}

.bottom-bar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
  font-weight: bold;
}

.bottom-bar a:hover {
  text-decoration: underline;
}

/* MAIN CONTENT */
.main {
  margin-left: 250px;
  padding: 2rem;
  max-width: 900px;
}
