body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  padding: 1.5rem;
  box-sizing: border-box;
  background: #222;
  color: white;
  height: 100vh;
  position: fixed;
}


.sidebar h2 {
  margin-top: 0;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
  font-weight: bold;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* MAIN CONTENT */
.main {
  margin-left: 250px;
  padding: 2rem;
  max-width: 900px;
}
