<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/terminal.css' | relative_url }}">
  <title>{{ page.title | default: site.title }}</title>
</head>

<body>



  <div class="main">
    {{ content }}
  </div>

  <script type="module" src="/BadCredit/assets/js/main.js"></script>
  {% include bottom-bar.html %}
  
</body>
</html>
